* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("images/sunflower-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    font-size: 40px;
    color: #414a2b;
    font-family: 'Pacifico', sans-serif;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 45px 50px 0px;
    justify-content: center;
    align-items: center;
}

.container {
    height: 475px;
    width: 475px;
    display: flex;
    justify-content: stretch;
    border: 5px solid #f4f7e3;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.unit {
    background-color: #dce1c3;
    flex: 1;
}

footer {
    font-size: 20px;
    padding: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #414a2b;
}

a {
    color: inherit;
    display: flex;
    align-items: flex-end;
}

a:hover {
    color: #84965c;
}


.github-logo {
    padding: 0 8px;
    height: 25px;
}

.buttons {
    display: flex;
    color: #f4f7e3;
    gap: 20px;
    align-items: center;
}

.btn {
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    background-color: #84965c;
    border: 2px solid #f4f7e3;
    color: #f4f7e3;
    border-radius: 5px;

}

.btn:hover {
    background-color: #414a2b;
}

.size-slider {
    accent-color: #84965c;
}

.size-value {
    color: #414a2b;
    text-align: center;
}








