* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/images/sunflower-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.imageH {
    height: 100vh;
}

header {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 50px 0px;
    justify-content: center;
    align-items: center;
}

.container {
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: stretch;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.unit {
    border: 1px solid black;
    background-color: white;
    flex: 1;
}

footer {
    font-size: 20px;
    padding: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    display: flex;
    align-items: center;
}


.github-logo {
    padding: 0 8px;
    height: 25px;
}

.buttons {
    display: flex;
    color: white;
    gap: 30px;
    align-items: center;
}

.btn {
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    background-color: orange;
    border: 1px solid black;
    color: black;

}

.slider {
    accent-color: orange;
}










